body {
    background-color: gray;

}

#firstbox {
    background-color:#3b5998;
    width: 850px;
    height: 350px;
    margin: 0 auto;
}

#secondbox {
    background-color: white;
    width: 850px;
    height: 35px;
    margin: 0 auto;
}

#profilebox {
    background-color:#3b5998;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: thin;
    position: relative;
    top: 170px;
    left: 30px;
}

ul {
    list-style: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    float: right;
    margin-top: 8px;
    margin-right: 199px;
    
 }

  li {
      display: inline;
      /* text-decoration-line: underline; */
      word-spacing: 5px;
  }

  .nav li {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;

  }

  h3 {
      font-family: Tahoma;
      font-weight: bold;
      color: white;
      text-align: left;
      margin-left: 245px;
      margin-top: 75px;
      /* border: 1px solid black; */
      
  }

  h4 {
      font-family: Tahoma;
      font-weight: normal;
      color: white;
      text-align: left;
      margin-left: 245px;
      /* border: 1px solid black; */ 
  }

  
  /* li::after {content: "|"} */